variables:
  HTML_REPORT_SUBJECT:
    required: false
    type: string
    default:
    description: "Enter a custom report subject name."
  AUDIT_AWS_EC2_ALERT_LIST:
    required: false
    type: array
    default:
      - ec2-ip-address-whitelisted #
      - ec2-unrestricted-traffic #
      - ec2-TCP-1521-0.0.0.0/0 #
      - ec2-TCP-3306-0.0.0.0/0 #
      - ec2-TCP-5432-0.0.0.0/0 #
      - ec2-TCP-27017-0.0.0.0/0 #
      - ec2-TCP-1433-0.0.0.0/0 #
      - ec2-TCP-3389-0.0.0.0/0 # cis_id:4.2
      - ec2-TCP-22-0.0.0.0/0 # cis_id:4.1
      - ec2-TCP-5439-0.0.0.0/0 #
      - ec2-TCP-23 #
      - ec2-TCP-21 #
      - ec2-TCP-20 #
      - ec2-TCP-8080 #
      - ec2-ports-range #
      - ec2-not-used-security-groups #
      - ec2-default-security-group-traffic # cis_id:4.4
      - ec2-vpc-flow-logs # cis_id:4.3
#             - ec2-security-groups-list # not_violation
#             - ec2-instances-active-security-groups-list # not_violation
#             - elb-load-balancers-active-security-groups-list # not_violation
#             - vpc-inventory # not_violation
#             - flow-logs-inventory # not_violation
    description: "Which rules would you like to run? Possible values are ec2-inventory-instances ec2-inventory-security-groups ec2-ip-address-whitelisted ec2-unrestricted-traffic ec2-TCP-1521-0.0.0.0/0 ec2-TCP-3306-0.0.0.0/0 ec2-TCP-5432-0.0.0.0/0 ec2-TCP-27017-0.0.0.0/0 ec2-TCP-1433-0.0.0.0/0 ec2-TCP-3389-0.0.0.0/0 ec2-TCP-22-0.0.0.0/0 ec2-TCP-5439-0.0.0.0/0 ec2-TCP-23 ec2-TCP-21 ec2-TCP-20 ec2-TCP-8080 ec2-ports-range ec2-not-used-security-groups ec2-default-security-group-traffic ec2-vpc-flow-logs"
  AUDIT_AWS_EC2_ALERT_RECIPIENT:
    description: "Enter the email address(es) that will receive notifications. If more than one, separate each with a comma."
    required: false
    type: string
    default:
  AUDIT_AWS_EC2_REGIONS:
    description: "List of AWS regions to check. Default is all regions. Choices are us-east-1,us-east-2,us-west-1,us-west-2,ca-central-1,ap-south-1,ap-northeast-2,ap-southeast-1,ap-southeast-2,ap-northeast-1,eu-central-1,eu-west-1,eu-west-1,sa-east-1"
    required: true
    type: array
    default:
        - us-east-1
        - us-east-2
        - us-west-1
        - us-west-2
        - ca-central-1
        - ap-south-1
        - ap-northeast-2
        - ap-southeast-1
        - ap-southeast-2
        - ap-northeast-1
        - eu-central-1
        - eu-west-1
        - eu-west-2
        - sa-east-1
  AUDIT_AWS_EC2_OWNER_TAG:
    description: "Enter an AWS tag whose value is an email address of the owner of the EC2 object. (Optional)"
    required: false
    type: string
    default: "NOT_A_TAG"
  AUDIT_AWS_EC2_ALLOW_EMPTY:
    description: "Would you like to receive empty reports? Options - true / false. Default is false."
    required: true
    type: string
    default: false
  AUDIT_AWS_EC2_SEND_ON:
    description: "Send reports always or only when there is a change? Options - always / change. Default is change."
    required: true
    type: string
    default: "change"
  FILTERED_OBJECTS:
    description: "JSON object of string or regex of aws objects to include or exclude and tag in audit"
    required: false
    type: string
    default:
  AUDIT_AWS_EC2_S3_NOTIFICATION_BUCKET_NAME:
    required: false
    type: string
    default:
    description: "Enter S3 bucket name to upload reports. (Optional)"
    validations:
      - s3-bucket-name-validation
